body {
  font-family: Arial, sans-serif;
  margin: 30px;
  padding: 30px;
  background-color: #f4f4f4;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

#productos,
#carrito {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.producto,
.carrito-item {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.producto button,
.carrito-item button,
#vaciarCarrito {
  background: #28a745;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.producto button:hover,
.carrito-item button:hover,
#vaciarCarrito:hover {
  background: #218838;
}

#vaciarCarrito {
  display: block;
  margin: 30px auto;
  padding: 12px 20px;
  font-size: 1em;
}

#totalCompra {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.cantidad-selector {
  width: 50px;
  text-align: center;
  margin: 0 10px;
  padding: 5px;
  font-size: 1em;
}